<div class="container">

  <h1>Users: <b>{{usersService.users?.length || '-'}}</b></h1>

  <pre *ngIf="usersService.error">Errore</pre>

  <form (submit)="usersService.formSubmit(f)"
        #f="ngForm">

    <!-- <small *ngIf="nameInputRef.errors?.required">I campo è obbligatorio.</small>
    <small *ngIf="nameInputRef.errors?.minLength">I campo è troppo corto.</small> -->

    <input type="text"
           name="name"
           [style.border]="nameInputRef.invalid && f.dirty ? '1px dashed red' : null"
           #nameInputRef="ngModel"
           [ngModel]="usersService.selectedUser?.name"
           minlength="3"
           required
           placeholder="name">
    <br>
    <select [ngModel]="usersService.selectedUser?.gender"
            required
            name="gender">
      <option value="">Select gender</option>
      <option value="F">Female</option>
      <option value="M">Male</option>
    </select>
    <br><br>
    <!-- <small *ngIf="f.invalid && f.touched">Il form non è valido.</small> -->
    <button type="submit"
            class="button"
            id="addButton"
            [disabled]="f.invalid">
      {{usersService.selectedUser?.id ? 'Edit' : 'Add'}}
    </button>
  </form>

  <div class='user pointable'
       *ngFor="let user of usersService.users; let i = index"
       [ngClass]="{'selected': user.id === usersService.selectedUser?.id}"
       (click)="usersService.selectUser(user)">
    <div class="id"
         [ngClass]="{'male': user.gender === 'M', 'female': user.gender === 'F'}">{{user.id}}</div>
    <b class="name">
      {{i + 1}}) {{user.name}}
    </b>
    <div>Gender: <b>{{user.gender === 'M' ? 'Male' : 'Female'}}</b></div>

    <button class="button"
            (click)="usersService.delete(user.id)">
      Delete
    </button>
    <button class="button"
            (click)="usersService.openDetail(user.id)">
      Vai al dettaglio
    </button>
  </div>

</div>
