<h1>Users: <b>{{users.length}}</b></h1>

<div class='user' *ngFor="let user of users">
  <div class="id" [ngClass]="{'male': user.gender === 'M', 'female': user.gender === 'F'}">{{user.id}}</div>
  <b class="name">
    {{user.name}}
  </b>
  <div>Age: <b>{{user.age}}</b></div>
  <div>Gender: <b>{{user.gender === 'M' ? 'Male' : 'Female'}}</b></div>
  <div>City: <b>{{user.city}}</b></div>
  <div>Birthday: <b>{{user.birthday | date: 'dd-MM-yyyy'}}</b></div>
  <div>Bitcoins: <b>{{user.bitcoins | number: '1.2-4'}}</b></div>
</div>